* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.top-navigation-bar {
    overflow: hidden;
    background-color: #DC143C;
}

.top-navigation-bar a {
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop-button {
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    padding: 6px;
    background-color: inherit;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.top-navigation-bar a:hover,
.dropdown:hover .drop-button {
    background-color: rgb(45, 42, 255);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DC143C;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 6px;
}

.dropdown-content a:hover {
    background-color: rgb(45, 42, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    background-image: url("./Images/bg-desktop.svg");
    background-size: 100%;
}

/*
.welcome-flex-container {
    border: 1px solid black;
    display: flex;
    justify-items: flex-end;
    gap: 5px;   
    padding: 5px;
}
*/
#my-picture {
    /*border: 1px solid #DC143C;*/
    width: 100vw;
    /*border-radius: 60px;*/
    /*box-shadow: 0 0 4px #DC143C;*/
}

.about-info {
    border: 1px solid #DC143C;
    font-size: 1.5vw;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0;
    box-shadow: 0 0 4px #DC143C;
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .top-navigation-bar a,
    .dropdown .drop-button {
        font-size: 1.5rem;
    }

    #my-picture {
        width: 30vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}