body {
  margin: 0;
  background-color: rgb(26, 23, 23);
}

header {
  //Pending
}

.main-menu {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  background-color: rgb(231, 229, 75);
  box-shadow: 0px 1px 70px rgb(231, 229, 75);
  a {
    text-decoration: none;
    font-size: 1rem;
  }
  span{
    text-decoration: underline;
  }
}

.section-hello {
  //display: flex;

  img {
    width: 50px;
    background-color: black;
    border-radius: 0.4rem;
  }
  h1{
    display: inline;
    color: red;
  }
}
